.App {
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myData {
    margin: 10px;
    border: 10px;
    border-color: black;
}

.FORM {
    margin-top: 10px;
}

.MyApp {
    text-align: center;
    color: white;
    padding: 12px;
    margin-top: 10px;
    Background: rgb(156, 94, 219);
}